.header {
    flex-shrink: 1;
    padding: 8px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-right: 2%;
    }
}